.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  border-bottom-left-radius: 6rem;
  background-image: url(../images/bg-pattern-intro.svg);
  background-repeat: no-repeat;
  background-size: 340%;
  background-position: 35% 33%;
  @include from($tablet) {
    background-size: 220%;
    background-position: 20% 53%;
  }
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 6rem;
    background-image: var(--gradient2);
  }
}
