section.hero
  h1.hero__title A modern publishing platform
  p.hero__text Grow your audience and build your online brand
  .hero__buttons
    a.hero__button(href='#start') Start for Free
    a.hero__button.hero__button--outline(href='#more') Learn More