nav.navigation
  a.navigation__brand(href='/')
    img.navigation__logo(src='assets/images/logo.svg' alt='logo blogr')
  span.navigation__toggle(role='button')
  .navigation__menus
    ul.navigation__menu
      li.navigation__item
        a.navigation__link(href='#')  Product 
        ul.navigation__sub-menu
          li.navigation__sub-item
            a.navigation__sub-link(href='#')  Overview 
          li.navigation__sub-item
            a.navigation__sub-link(href='#')  Pricing 
          li.navigation__sub-item
            a.navigation__sub-link(href='#')  Marketplace 
          li.navigation__sub-item
            a.navigation__sub-link(href='#')  Features 
          li.navigation__sub-item
            a.navigation__sub-link(href='#')  Integrations 
      li.navigation__item
        a.navigation__link(href='#') Company
        ul.navigation__sub-menu
          li.navigation__sub-item
            a.navigation__sub-link(href='#') About
          li.navigation__sub-item
            a.navigation__sub-link(href='#') Team
          li.navigation__sub-item
            a.navigation__sub-link(href='#') Blog
          li.navigation__sub-item
            a.navigation__sub-link(href='#') Careers
      li.navigation__item
        a.navigation__link(href='#') Connect
        ul.navigation__sub-menu
          li.navigation__sub-item
            a.navigation__sub-link(href='#') Contact
          li.navigation__sub-item
            a.navigation__sub-link(href='#') Newsletter
          li.navigation__sub-item
            a.navigation__sub-link(href='#') LinkedIn
    .navigation__buttons
      a.navigation__button.navigation__button--login(href='#')
        | Login
      a.navigation__button.navigation__button--sign-up(href='#')
        | Sign Up