footer.footer
  .footer__container
    a.footer__brand(href='/')
      img.footer__logo(src='assets/images/logo.svg' alt='logo blogr')
    ul.footer__menu
      li.footer__item
        a.footer__link(href="#") Product
        ul.footer__sub-menu
          li.footer__sub-item
            a.footer__sub-link(href="#") Overview
          li.footer__sub-item
            a.footer__sub-link(href="#") Pricing
          li.footer__sub-item
            a.footer__sub-link(href="#") Marketplace
          li.footer__sub-item
            a.footer__sub-link(href="#") Features
          li.footer__sub-item
            a.footer__sub-link(href="#") Integrations
      li.footer__item
        a.footer__link(href="#") Company
        ul.footer__sub-menu
          li.footer__sub-item
            a.footer__sub-link(href="#") About
          li.footer__sub-item
            a.footer__sub-link(href="#") Team
          li.footer__sub-item
            a.footer__sub-link(href="#") Blog
          li.footer__sub-item
            a.footer__sub-link(href="#") Careers
      li.footer__item
        a.footer__link(href="#") Connect
        ul.footer__sub-menu
          li.footer__sub-item
            a.footer__sub-link(href="#") Contact
          li.footer__sub-item
            a.footer__sub-link(href="#") Newsletter
          li.footer__sub-item
            a.footer__sub-link(href="#") LinkedIn