main.main
  section#start.intro
    h2.intro__title Designed for the future
    .intro__content
      picture.intro__picture
        source(srcset='assets/images/illustration-editor-desktop.svg' media='(min-width: 768px)')
        img.intro__img(src='assets/images/illustration-editor-mobile.svg' alt='illustration editor')
      .intro__items
        article.intro-item
          h3.intro-item__title
            | Introducing an extensible editor
          p.intro-item__text
            | Blogr features an exceedingly intuitive interface which lets you
            | focus on one thing: creating content. The editor supports
            | management of multiple blogs and allows easy manipulation of
            | embeds such as images, videos, and Markdown. Extensibility with
            | plugins and themes provide easy ways to add functionality or
            | change the looks of a blog.
        article.intro-item
          h3.intro-item__title Robust content management
          p.intro-item__text
            | Flexible content management enables users to easily move through
            | posts. Increase the usability of your blog by adding customized
            | categories, sections, format, or flow. With this functionality,
            | you&rsquo;re in full control.
  section#more.state
    .state__container
      img.state__img-phones(src="assets/images/illustration-phones.svg", alt="illustration phones")
      .state__info
        h2.state__title State of the Art Infrastructure
        p.state__text
          | With reliability and speed in mind, worldwide data centers provide the
          | backbone for ultra-fast connectivity. This ensures your site will load
          | instantly, no matter where your readers are, keeping your site
          | competitive.
  div.description
    .description__container
      picture.description__picture
        source(srcset='assets/images/illustration-laptop-desktop.svg' media='(min-width: 768px)')
        img.description__img(src='assets/images/illustration-laptop-mobile.svg' alt='illustration editor')
      .description__info
        article.description__article
          h3.description__title Free, open, simple
          p.description__text
            | Blogr is a free and open source application backed by a large
            | community of helpful developers. It supports features such as code
            | syntax highlighting, RSS feeds, social media integration,
            | third-party commenting tools, and works seamlessly with Google
            | Analytics. The architecture is clean and is relatively easy to
            | learn.
        article.description__article
          h3.description__title Powerful tooling
          p.description__text
            | Batteries included. We built a simple and straightforward CLI tool
            | that makes customization and deployment a breeze, but capable of
            | producing even the most complicated sites.